@tailwind base;
@tailwind components;
@tailwind utilities;
.order-container {
  display: flex;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
}

.order-id {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
